<div class="container-fluid">
    <form class="alert alert-secondary" [formGroup]="consultationForm" (ngSubmit)="submitConsultation()" novalidate>
        <div class="form-group mr 2">
            <label for="date">Date:</label>
            <input class="form-control" type="text" id="date" formControlName="date"
                placeholder="Enter the date of consultation">
        </div>
        <div *ngIf="consultationForm.get('date').hasError('required') && consultationForm.get('date').touched"
            class="text-danger">Enter the date of the consultation</div>
        <div *ngIf="consultationForm.controls.date.hasError('ptDate') && consultationForm.get('date').touched"
            class="text-danger">The date must be filled as dd/MM/yyyy</div>
        <div class="form-group mr 2">
            <label for="dosage">Dosage:</label>
            <input class="form-control" type="text" id="dosage" formControlName="dosage"
                placeholder="Enter dosage">
        </div>
        <div *ngIf="consultationForm.get('dosage').hasError('required') && consultationFormForm.get('dosage').touched"
            class="text-danger">Enter dosage</div>
        <div *ngIf="consultationForm.get('dosage').hasError('pattern') && consultationForm.get('dosage').touched"
            class="text-danger">Only integers are allowed</div>

        <div class="form-group mr 2">
            <label for="prescriptionName">Prescription Name:</label>
            <input class="form-control" type="text" id="prescriptionName" formControlName="prescriptionName"
                placeholder="Enter prescriptionName">
        </div>
        <div *ngIf="consultationForm.get('prescriptionName').hasError('required') && consultationForm.get('prescriptionName').touched"
            class="text-danger">Enter Prescription Name</div>
        <div *ngIf="consultationForm.get('prescriptionName').hasError('pattern') && consultationForm.get('prescriptionName').touched"
            class="text-danger">Only characters are allowed</div>

            

        <button class="btn btn-primary" [disabled]='consultationForm.invalid'>Add consultation</button>
    </form>
</div>
