<div class="container-fluid">
    <form class="alert alert-secondary" [formGroup]="measurementForm" (ngSubmit)="submitMeasurement()" novalidate>
        <div class="form-group mr 2">
            <label for="date">Date:</label>
            <input class="form-control" type="text" id="date" formControlName="date" placeholder="Enter the date of measurement">
        </div>
        <div class="form-group mr 2">
            <label for="time">Time:</label>
            <input class="form-control" type="text" id="time" formControlName="time" placeholder="Enter the time of measurement">
        </div>

        <div class="form-group mr 2">
            <label for="glucoseLevel">Glucose level:</label>
            <input class="form-control" type="text" id="glucoseLevel" formControlName="glucoseLevel" placeholder="Enter your glucose level">
        </div>

        <div class="form-group mr 2">
            <label for="carbIntake">Carb intake:</label>
            <input class="form-control" type="text" id="carbIntake" formControlName="carbIntake" placeholder="Enter your carb intake">
        </div>
        
        <button class="btn btn-primary" [disabled]='measurementForm.invalid'>Add measurement</button>
    </form>
</div>