<div class="container-fluid">
    <div class="row" *ngIf="measurements">
        <!-- <div class="container-fluid" *ngIf="isMeasurementEmpty">
            <h3>No measurements have been added yet.</h3>
        </div> -->

        <div *ngFor="let measurement of measurements">
            <div class="col-sm-4"></div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Measurement Date: {{ measurement.date }} {{ measurement.time }}</h5>
                    <p class="card-text">Glucose Level: {{ measurement.glucoseLevel }}</p>
                    <p class="card-text">Carb Intake: {{ measurement.carbIntake }}</p>
                </div>
                <button class="btn btn-primary" (click)="openEditForm(measurement.id)">Edit</button>
                <button class="btn btn-secondary" (click)="deleteMeasurement(measurement.id)">Remove</button>

                <div *ngIf="isSortedClicked && measurement.id === idOfSelectedMeasurement">
                    <form class="alert alert-secondary" [formGroup]="editMeasurementForm"
                        (ngSubmit)="editMeasurement(measurement.uri)" novalidate>
                        <div class="form-group mr 2">
                            <label for="date">Date:</label>
                            <input class="form-control" type="text" id="date" formControlName="date"
                                placeholder="Enter the date of measurement">
                        </div>
                        <div *ngIf="editMeasurementForm.get('date').hasError('required') && editMeasurementForm.get('date').touched"
                            class="text-danger">Enter the date of the measurement</div>
                        <div *ngIf="editMeasurementForm.controls.date.hasError('ptDate') && editMeasurementForm.get('date').touched"
                            class="text-danger">The date must be filled as dd/MM/yyyy</div>
                        <div class="form-group mr 2">
                            <label for="time">Time:</label>
                            <input class="form-control" type="text" id="time" formControlName="time"
                                placeholder="Enter the time of measurement">
                        </div>
                        <div *ngIf="editMeasurementForm.get('time').hasError('required') && editMeasurementForm.get('time').touched"
                            class="text-danger">Enter the time of the measurement</div>
                        <div *ngIf="editMeasurementForm.controls.time.hasError('ptDate') && editMeasurementForm.get('time').touched"
                            class="text-danger">
                            The time must be filled as HH:mm
                        </div>
                        <div class="form-group mr 2">
                            <label for="glucoseLevel">Glucose level:</label>
                            <input class="form-control" type="text" id="glucoseLevel" formControlName="glucoseLevel"
                                placeholder="Enter your glucose level">
                        </div>
                        <div *ngIf="editMeasurementForm.get('glucoseLevel').hasError('required') && editMeasurementForm.get('glucoseLevel').touched"
                            class="text-danger">Enter the glucose level</div>
                        <div *ngIf="editMeasurementForm.get('glucoseLevel').hasError('pattern') && editMeasurementForm.get('glucoseLevel').touched"
                            class="text-danger">Only integers are allowed</div>

                        <div class="form-group mr 2">
                            <label for="carbIntake">Carb intake:</label>
                            <input class="form-control" type="text" id="carbIntake" formControlName="carbIntake"
                                placeholder="Enter your carb intake">
                        </div>
                        <div *ngIf="editMeasurementForm.get('carbIntake').hasError('required') && editMeasurementForm.get('carbIntake').touched"
                            class="text-danger">Enter the carb intake</div>
                        <div *ngIf="editMeasurementForm.get('carbIntake').hasError('pattern') && editMeasurementForm.get('carbIntake').touched"
                            class="text-danger">Only integers are allowed</div>

                        <button class="btn btn-primary" [disabled]='editMeasurementForm.invalid'>Edit
                            measurement</button>
                    </form>
                </div>
            </div>
        </div>
    </div>