<div class="container-fluid">
    <h3>What would you like to do today?</h3>
    <button class="btn btn-primary" (click)="manageAccount()">Manage my account</button>
    <button class="btn btn-primary ml-3" (click)="viewPatientRecords()">View patient records</button>
    <button class="btn btn-primary ml-3" (click)="viewWaitingPatients()">Patients awaiting consultations</button>
    <!-- <button class="btn btn-primary ml-3" (click)="modifyConsultation()">Update a patient's consultation</button> -->
</div>

<div *ngIf="clickedManageAccount">
    <sacchon-doctor-account></sacchon-doctor-account>
</div>

<div *ngIf="clickedPatientRecords">
    <sacchon-view-patient-records></sacchon-view-patient-records>
</div>

<div *ngIf="clickedPatientsWaiting">
    <sacchon-view-patients-without-consul></sacchon-view-patients-without-consul>
</div>

<div *ngIf="clickedUpdateConsultation">
    <!-- <sacchon-inactive-doctors></sacchon-inactive-doctors> -->
</div>