<div class="container-fluid">
    <button class="btn btn-primary" (click)="getPatients()">Get all available patients</button>

    <div class="row">
        <div *ngFor="let patient of patients">
            <div class="clearfix" *ngIf="index % 3 == 0"></div>
            <div class="col-sm-4"></div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Patient Name: {{ patient.name }}</h5>
                  <p class="card-text">Patient Username: {{ patient.username }}</p>
                  <p class="card-text">Patient Password: {{ patient.password }}</p>
                </div>
              </div>
        </div>
    </div>
</div>
